*.eep
*.lss
*.lst
*.map
*.o
*.sym
*.dep
.idea
*.xcodeproj
hardware/power-converter/power-converter.b#1
hardware/power-converter/power-converter.b#2
hardware/power-converter/power-converter.s#1
hardware/power-converter/power-converter.s#2
hardware/power-converter/power-converter.s#3
hardware/power-converter/power-converter.s#4
hardware/power-converter/power-converter.s#5
hardware/power-converter/power-converter.s#6
hardware/power-converter/power-converter.s#7
hardware/power-converter/power-converter.s#8
hardware/power-converter/power-converter.s#9
hardware/bms/BMS.b##
hardware/bms/BMS.b#1
hardware/bms/BMS.b#2
hardware/bms/BMS.b#3
hardware/bms/BMS.b#4
hardware/bms/BMS.b#5
hardware/bms/BMS.b#6
hardware/bms/BMS.b#7
hardware/bms/BMS.b#8
hardware/bms/BMS.b#9
hardware/bms/BMS.s#1
hardware/bms/BMS.s#2
hardware/bms/BMS.s#3
hardware/bms/BMS.s#4
hardware/bms/BMS.s#5
hardware/bms/BMS.s#6
hardware/bms/BMS.s#7
hardware/bms/BMS.s#8
hardware/bms/BMS.s#9
hardware/master-control/master-control.s#9
hardware/master-control/master-control.s#1
hardware/master-control/master-control.s#2
hardware/master-control/master-control.s#3
hardware/master-control/master-control.s#4
hardware/master-control/master-control.s#5
hardware/master-control/master-control.s#6
hardware/master-control/master-control.s#7
hardware/master-control/master-control.s#8
